.checkOldMessages-firstImage {
  position: absolute;
  top: 0;
  width: 100%;
}
.checkOldMessages-firstImage img {
  width: 100%;
}
#checkOldMessages-return-button {
  position: absolute;
  top: 10.1893vw;
  left: 0;
  width: 10.5333vw;
  height: 8.5333vw;
  background-color: #F5F5F4;
  box-shadow: 0vw 0.5333vw 0.5333vw 0vw rgba(0, 0, 0, 0.25);
}
#checkOldMessages-return-button div {
  width: 0;
  height: 0;
  border: 3vw solid transparent;
  border-right-color: #979797;
}
.mainTitle {
  position: absolute;
  top: 10.1893vw;
  left: 12.4373vw;
  font-size: 9.0667vw;
  letter-spacing: -0.2333vw;
}
.checkOldMessages-messageDisplayBox {
  position: absolute;
  margin-top: 26.4667vw;
  margin-left: 6.6667vw;
  width: 82.9333vw;
  height: 66.1333vw;
  padding-top: 5.3333vw;
  box-shadow: 0vw 0.6333vw 1.333vw 0vw rgba(0, 0, 0, 0.4);
  background: #ffffff;
  border-radius: 5.3333vw;
  overflow: auto;
}
.checkOldMessages-messageDisplayBox .message-title {
  margin-left: 7.6667vw;
  font-size: 6vw;
  color: #F17502;
}
.checkOldMessages-messageDisplayBox .organization {
  color: #F17502;
  margin-top: 2.67vw;
  margin-left: 7.6667vw;
}
.checkOldMessages-messageDisplayBox .message-content {
  box-sizing: border-box;
  margin-top: 4.67vw;
  padding-left: 7.6667vw;
  padding-right: 7.6667vw;
  padding-bottom: 4vw;
  width: 100%;
  height: auto;
  color: #000;
  font-size: 4vw;
  letter-spacing: 0.1vw;
  line-height: 7vw;
  box-shadow: 0vw 0.1333vw 0.5333vw 0vw rgba(0, 0, 0, 0.25);
  overflow: auto;
}
.checkOldMessages-messageDisplayBox .attachment {
  display: inline-block;
  margin-top: 5.3333vw;
  margin-left: 2.6667vw;
  width: 11.6667vw;
  height: 18vw;
  text-align: center;
  font-size: 4.4667vw;
}
.checkOldMessages-messageDisplayBox .attachment img {
  width: 100%;
  height: auto;
}
.checkOldMessages-messageDisplayBox .glimpseBar {
  vertical-align: top;
  margin-top: 5.3333vw;
  display: inline-block;
  margin-left: 7.6667vw;
  font-size: 4.2667vw;
  color: #F17502;
}
.checkOldMessages-messageDisplayBox .glimpseBar p {
  margin-bottom: 2.6667vw;
}
.confirm {
  position: absolute;
  top: 102vw;
  left: 12vw;
  width: 70%;
  height: auto;
  border-radius: 5.3333vw;
  box-shadow: 0vw 0.6333vw 1.333vw 0vw rgba(0, 0, 0, 0.4);
  text-align: center;
}
.confirm .title {
  font-size: 5.3333vw;
  margin-top: 1.6667vw;
  color: #666;
}
.confirm span {
  display: block;
  font-size: 4.8vw;
  margin-top: 1.6667vw;
  color: #F17502;
}
.confirm button {
  margin-top: 2.3333vw;
  margin-bottom: 3.33vw;
  width: 35.6667vw;
  height: 8.3333vw;
  background-color: #F17502;
  color: white;
  border-radius: 3.4667vw;
  box-shadow: 0vw 1.0667vw 1.0667vw 0vw rgba(0, 0, 0, 0.25), 0vw 1.0667vw 1.0667vw 0vw rgba(0, 0, 0, 0.25);
  font-size: 4.8vw;
}
.submit {
  position: absolute;
  top: 134vw;
  left: 12vw;
  width: 70%;
  height: auto;
  border-radius: 5.3333vw;
  box-shadow: 0vw 0.6333vw 1.333vw 0vw rgba(0, 0, 0, 0.4);
  text-align: center;
}
.submit .title {
  font-size: 5.3333vw;
  margin-top: 1.6667vw;
  color: #666;
}
.submit span {
  display: block;
  font-size: 4.8vw;
  margin-top: 1.6667vw;
  color: #F17502;
}
.submit button {
  margin-top: 2.3333vw;
  margin-bottom: 3.33vw;
  width: 35.6667vw;
  height: 8.3333vw;
  background-color: #F17502;
  color: white;
  border-radius: 3.4667vw;
  box-shadow: 0vw 1.0667vw 1.0667vw 0vw rgba(0, 0, 0, 0.25), 0vw 1.0667vw 1.0667vw 0vw rgba(0, 0, 0, 0.25);
  font-size: 4.8vw;
}
.questionPage {
  position: absolute;
  letter-spacing: 0.8vw;
  left: 9vw;
  bottom: 4vw;
  width: 80vw;
  height: 8.3333vw;
  background-color: #F17502;
  color: white;
  border-radius: 3.4667vw;
  box-shadow: 0vw 1.0667vw 1.0667vw 0vw rgba(0, 0, 0, 0.25), 0vw 1.0667vw 1.0667vw 0vw rgba(0, 0, 0, 0.25);
  font-size: 4.8vw;
}
