.login-firstImage {
  position: absolute;
  top: -1.3333vw;
  right: 0;
  width: 85.8667vw;
  height: 31.2vw;
}
.login-firstImage img {
  width: 100%;
  height: auto;
}
.mainTitle {
  position: absolute;
  top: 45.8667vw;
  left: 8.5333vw;
  font-size: 9.0667vw;
  letter-spacing: 0.8vw;
}
.subtitle {
  position: absolute;
  top: 60.3333vw;
  left: 8.5333vw;
  font-size: 4vw;
  color: #494949;
  letter-spacing: 1.5vw;
}
form {
  position: absolute;
  top: 74.6667vw;
  left: 8.5333vw;
}
input {
  border: none;
  text-indent: 7.4667vw;
  width: 82.9333vw;
  height: 14.9333vw;
  font-size: 4.8vw;
  background: #f1f1f1;
  border-radius: 3.7333vw;
  box-shadow: 0vw 1.0667vw 1.0667vw 0vw rgba(0, 0, 0, 0.25);
}
button {
  border: none;
}
.main-button {
  font-size: 5.3333vw;
  letter-spacing: 4vw;
}
#login-password {
  margin-top: 5.6vw;
}
#login-button {
  margin-top: 15.7333vw;
  width: 82.9333vw;
  height: 14.9333vw;
  background: #c9e0c1;
  border-radius: 3.7333vw;
  box-shadow: 0vw 1.0667vw 1.0667vw 1.0667vw rgba(0, 0, 0, 0.25);
}
#login-register {
  position: absolute;
  bottom: 5vw;
  left: 8.5333vw;
  font-size: 4.8vw;
  color: #979797;
  letter-spacing: 1vw;
  background: none;
}
#login-forgetPassword {
  position: absolute;
  bottom: 5vw;
  right: 8.5333vw;
  font-size: 4.8vw;
  color: #979797;
  letter-spacing: 1vw;
  background: none;
}
